@import "tailwindcss";
body {
  background: #f8fafc;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.card-hover {
  transition: 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-3px);
}